<div class="container mt-4">
    <h3 class="text-center">Admin Dashboard</h3>
    <div class="row">
      <!-- Card for Managing Stores -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="/public/super.jpg" class="card-img-top img-fluid" alt="Manage Stores">
          <div class="card-body text-center">
            <h5 class="card-title">Manage Stores</h5>
            <p class="card-text">View and manage all grocery stores.</p>
            <button class="btn btn-primary" (click)="goToStoreList()">Manage</button>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="/public/order.avif" class="card-img-top img-fluid" alt="Manage Stores">
          <div class="card-body text-center">
            <h5 class="card-title">Manage Order</h5>
            <p class="card-text">View and manage all  grocery stores Order.</p>
            <button class="btn btn-primary" (click)="goToOrderList()">Manage</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="/public/Delivery.avif" class="card-img-top img-fluid" alt="Manage Stores">
          <div class="card-body text-center">
            <h5 class="card-title">Manage Delivery</h5>
            <p class="card-text">View and manage all  grocery stores Order.</p>
            <button class="btn btn-primary" (click)="goToDeliveryList()">Manage</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="/public/cust.jpg" class="card-img-top img-fluid" alt="Manage Stores">
          <div class="card-body text-center">
            <h5 class="card-title">Manage Customer</h5>
            <p class="card-text">View and manage all  grocery stores Order.</p>
            <button class="btn btn-primary" (click)="goToCustomerList()">Manage</button>
          </div>
        </div>
      </div>
      <!-- Card for Managing Products -->
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="/public/pro.jpg" class="card-img-top img-fluid" alt="Manage Products">
          <div class="card-body text-center">
            <h5 class="card-title">Manage Products</h5>
            <p class="card-text">View and manage all products.</p>
            <button class="btn btn-primary" (click)="goToProductList()">Manage</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  