h2{

    color: rgb(55, 9, 221);
    font-size: 45px;
    margin-left: 39%;
    margin-bottom: 50px;
}
table{
    margin: 20px;
    width: 70%;
    padding-left: 30px;
    margin-left: 251px !important;
}
.tds
{
    margin-left: 100px;
}