<div class="container mt-4">
    <h3 class="text-center mb-4">Order Details</h3>
    
    <div *ngIf="order" class="card">
      <div class="card-header">
        <h5>Order #{{ order.orderId }}</h5>
      </div>
      <div class="card-body">
        <p><strong>Customer Name:</strong> {{ order.customer?.name || 'N/A' }}</p>
        <p><strong>Order Date:</strong> {{ order.orderDate | date: 'medium' }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>
        <p><strong>Total Price:</strong> {{ order.totalPrice | currency }}</p>
  
        <h5 class="mt-4">Order Items</h5>
       
  
        <a [routerLink]="['/orderlist']" class="btn btn-secondary"> <button class="btn btn-secondary mt-3" >Back</button></a>
      </div>
    </div>
  </div>
  