<div class="container mt-4" style="margin-bottom: 60px;">
    <h3 class="text-center">Store Details</h3>
    <div class="card" style="width: 300px; margin: auto;">
      <div class="card-body">
        <h5 class="card-title">Store ID: {{ store?.storeId }}</h5>
        <p class="card-text"><strong>Name:</strong> {{ store?.name }}</p>
        <p class="card-text"><strong>Location:</strong> {{ store?.location }}</p>
        <a href="#" class="btn btn-primary" (click)="goBack()">Back to List</a>
      </div>
    </div>
  </div>
  
