h2{

    color: darkorange;
    font-size: 45px;
    margin-left: 39%;
    margin-bottom: 50px;
}
table{
    margin: 20px;
    width: 70%;
    padding-left: 30px;
    margin-left: 251px !important;
}